<div>
    <div>
        <div *ngIf=isRequired
        class="alert alert-danger">
            <div *ngIf=true>
                {{isInvalid}}
            </div>
    </div>
    <div *ngIf="isNavigated" >
        <br>
        <div class = "horizontal-align">
            <label for = "email"> Enter Email Id to generate OTP </label>
                <input #inputValue
                type="email"  name="email" ngModel email
                class = "form-control input-width position-relative" 
                [disabled]="valid" required (focusout) ="doOnChangeEvent($event)"/>
            <br>
        </div>

        <div class = "horizontal-align">
            <button mat-raised-button color="primary" (click) = "makeOTPFetch(inputValue)" [disabled] = "valid" >Generate OTP</button>
            <br>
            <button  class = "position-relative-button" mat-raised-button color="primary" [disabled] = "!valid" (click) = "doEnableFields()">Enable Field</button>
            <br>
        </div>
        <br><br>
        <div *ngIf = "isOtpEnabled">
            <div>
                <label > Enter OTP </label>
                <input #otpValue type="text" class = "form-control input-width position-relative"/>
            </div>
            
            <div>
                <button mat-raised-button color="primary" (click) = "doSubmit(inputValue.value,otpValue.value)">Submit OTP</button>
                <mat-progress-bar class = "progress-bar" mode="determinate" [color]="color" [value]="otpSubmitTimer"></mat-progress-bar>
            </div>
            
            <div class = "reset-otp-button-timer">
                <button mat-raised-button color="primary" 
                [disabled] = "isResetButtonEnable" (click)="onClickReset(inputValue.value)"> Resend OTP Field</button>
                <mat-progress-bar class = "progress-bar-reset" mode="determinate" [color]="color" [value]="resendOtpTimer"></mat-progress-bar>
            </div>

        </div>
        <div *ngIf = "successMessage">
            Authentication success!!!
        </div>
        <div *ngIf = "failureMessage">
            please try again
        </div>
    </div>

    <router-outlet></router-outlet>
</div>